<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @consumer.user %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @consumer.rating %>
</p>

<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
