<h1>Search#posts</h1>
<%= form_tag({controller: "search", action: "posts"}, method: "post") do %>
<%= label_tag(:query, "Search for:") %>
<%= text_field_tag(:query) %>
<%= submit_tag("Search") %>
<% end %>
<%= render 'results' %>