<div id="wrapper">
	<div id="content">
		<ul id="movieposters">
				<% @posts.each do |post| %>
				<%= link_to post_path(post.id) do %>
				<li>
						<% if (post.picture.present?) %>
							<%= image_tag(post.picture_url, width: "250", height: "250")%>
						<% else %>
							<img src="http://www.endorph.me/assets/images/no-thumb.png" alt="no_image" width="250" height="250">
						<%end%>
					<div class="movieinfo">
							<h5><%=post.title%></h5>
							<h5><%= number_to_currency(post.price)%>: <%= pluralize(post.bids.count,'Bid') %></h5>
							<p><i><%= post.categories.to_sentence   if post.categories.to_s.length != 0 %></i></p>
							<% if !(current_user.consumer.posts.include?(post))  %>
								<%= button_to 'BID', new_bid_path(post_id: post) , method: :post, :class => 'btn btn-primary btn-xs'%>			
							<% end %>
							<% if(post.consumer.user == current_user) %>
								<%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-primary btn-xs bidbtn' %>
							<% end %>
							
						</div>
					</li>
					<% end %>
				<% end %>
		</ul>
	</div>
</div>