<%= button_to 'Request a service', new_post_path, method: :get %>
<div id="wrapper">
	<div id="columns">
		<% @posts.each do |post| %>
			<div class="pin">
				<h4><%= post.title %></h4>
				<%= image_tag(post.picture_url, size: "150x150", alt: "User hasn't posted a picture") if post.picture.present? %>
				<p><%= post.description %></p>
			<%= link_to 'Edit', edit_post_path(post) %>
			</div>
		<% end %>
	</div>
</div>
<%= link_to 'Back', welcome_path %>
