<h2><%= @user.first %> <%=@user.last%>'s Profile</h2>

<div class="userinfo">
<h4>Age: <%=@user.age%></h4>
<h4>Phone: <%=@user.phone%></h4>
<h4>Address: <%=@user.address%> (GOOGLE MAPS HERE...)</h4>
</div>


<% if @user.picture %>
	<img src="http://www.endorph.me/assets/images/no-thumb.png" alt="no_image" width="250" height="250">
<% else %>
<img src="http://www.endorph.me/assets/images/no-thumb.png" alt="no_image">
<% end %>


<h4> All the reviews of this user as a provider: </h4>
Overall Average Rating: <%=@user.provider.rating %>

<ol>
	<% @reviews.each do |review|%>
		<li> <%= review.rating%> <br /> <%= review.description %> </li>
	<% end %>
</ol>
