<h2><%= @user.first %></h2>
<h2><%=@user.last%></h2>

<h2><%=@user.age%></h2>
<h2><%=@user.phone%></h2>
<h2><%=@user.address%></h2>

<% if @user.picture %>
	<%= image_tag(@user.picture_url, size: "150x150", alt: "User hasn't posted a picture") %>
<% else %>
<img src="http://www.endorph.me/assets/images/no-thumb.png" alt="no_image">
<% end %>