<h1>Listing proreviews</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Description</th>
      <th>Consumer</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @proreviews.each do |proreview| %>
      <tr>
        <td><%= proreview.rating %></td>
        <td><%= proreview.description %></td>
        <td><%= proreview.consumer %></td>
        <td><%= proreview.post %></td>
        <td><%= link_to 'Show', proreview %></td>
        <td><%= link_to 'Edit', edit_proreview_path(proreview) %></td>
        <td><%= link_to 'Destroy', proreview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proreview', new_proreview_path %>
