
<h1>You are reviewing the user <%= link_to view_path(user_id: @post.provider.user.id) do %><%= @post.provider.user.first%> <%= @post.provider.user.last %> <% end %> for his/her service </h1>

<%= render 'form' %>

<%= link_to 'Back', proreviews_path %>
