<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Welcome to Noitcua</h1>
        <h3 class="splash-subhead">
            The next big thing has finally arrived.
        </h3>
        <button type="button" class="loginbtn btn btn-info btn-lg">LOG IN</button>
        <button type="button" class="signupbtn btn btn-info btn-lg">SIGN UP</button>
        <a href="#about"><h3 class="splash-head" id="learnmore">Learn More</h3></a>
    </div>
</div>

<div class="content-wrapper" id="about">
    <div class="content">
        <h2 class="content-head is-center">Finding service providers just became easy!</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Create an account, and start finding service providers. Can't find one? Go ahead and request a service!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src=<%=asset_path('file-icons.png') %> >
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h3>Contact Us</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h3>More Information</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
        </div>
    </div>
</div>  

<div id="popup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Log In</h4>
            </div>
            <div class="modal-body">
                <%= form_for(resource, as: resource_name, html: {class: "pure-form pure-form-stacked"} , url: session_path(resource_name)) do |f| %>
                  <label for="email">Email</label>
                  <%= f.email_field :email, autofocus: true %>
                  <label for="password">Password</label>
                  <%= f.password_field :password, autocomplete: "off" %>
                <%= f.submit "Log in", class: "pure-button" %>
              <% end %>
            </div>
        </div>
    </div>
</div>

<div id="popuptwo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true %>
                  </div>
                  <div class="field">
                    <%= f.label :age %><br />
                    <%= f.text_field :age, autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :phone %><br />
                    <%= f.text_field :phone, autofocus: true %>
                  </div>
                  
                  <div class="field">
                    <%= f.label :address %><br />
                    <%= f.text_field :address, autofocus: true %>
                  </div>


                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :password %>
                    <% if @validatable %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Sign up" %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>