<h4><%= post.title %></h4>  
<h5> </h5>

<% if (post.picture.present?) %>
<%= image_tag(post.picture_url, size: "150x150", alt: "User hasn't posted a picture") %>
<% else %>
<img src="http://www.endorph.me/assets/images/no-thumb.png" alt="no_image">
<% end %>

<table>
	<tbody>
		<tr>
			<th>Categories: </th> <td><%= post.categories.to_sentence   if post.categories.to_s.length != 0 %></td>
		</tr>
		<tr>
			<th>Price: </th><td><%= number_to_currency(post.price) %></td>	
		</tr>			
		<tr>
			<th>Description: </th><td><%= sanitize(post.description) %></td>
		</tr>
		<tr>
			<th>Seller Information: </th><td><%=post.consumer.user.name%></td>
	</tbody>
</table>
<% if(post.consumer.user == current_user) %>
<%= link_to 'Edit', edit_post_path(post) %>
<% end %>