<h4><%= post.title %></h4>  <h4>posted by :<%=post.consumer.user.name%></h4>
<%= image_tag(post.picture_url, size: "150x150", alt: "User hasn't posted a picture") if post.picture.present? %>
				
<h5><%= post.categories.to_sentence   if post.categories.to_s.length != 0 %>
	
<p><%= sanitize(post.description) %></p>
<p><%= number_to_currency(post.price) %></p>
<% if(post.consumer.user == current_user) %>
<%= link_to 'Edit', edit_post_path(post) %>
<% end %>