<%if (@post.picture.present?)%>
<%= image_tag(@post.picture_url, size: "150x150", class: "pull-left col-md-4") %>
<%else%>
	<img src="http://www.endorph.me/assets/images/no-thumb.png" alt="no_image" class="pull-left">
<%end%>

<div id="postinfo" class="pull-right col-md-8">
	<h4>Price:  <%= number_to_currency(@post.price) %></h4>
	<p><b>Description:</b> <%= sanitize(@post.description) %></p>
	<p><b>Categories: </b><%= @post.categories.to_sentence   if @post.categories.to_s.length != 0 %></p>
	<p><b>Seller: </b> <%= link_to view_path(user_id: @post.consumer.user.id) do%>
						<%=@post.consumer.user.first%><%=@post.consumer.user.last%>
						<% end %></p>
	<% if(@post.consumer.user == current_user) %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<% end %>
</div>
<iframe class="bidmap"
  width="550"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAgFblGV3TfMawjKrWeOoCMjEJKN6RGn5A
    &q=Space+Needle,Seattle+WA">
</iframe>