<div id = "bid_page">
<%= render(@post)%>
</div>
<% if @post.provider %>
<% if @post.consumer == current_user.consumer %>
<h1> the accepted bidders name is <%= @post.provider.user.name %> </h1>
<p> so you can't accept anymore </p>
<br />
<br />
<% end %>
<% end %>


<% if @post.bids.length !=0 %>
	<table cellspacing = '0' id = "bid_table">
	<% @post.bids.each do |bid| %>
	<thead>
		<tr>
			<th>Bidder</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Accept Bid</th>
		</tr>
	</thead>
	<tbody>
		<tr>
				<%if current_user.provider == bid.provider%> <td><%= current_user.name %> </td><td><%= number_to_currency(bid.amount) %></td> 
				<td><%= bid.description %></td><td></td>
		</tr>
		<tr>
				<% else %> <td><%= bid.provider.user.name %> </td><td><%= number_to_currency(bid.amount) %> </td><td><%= bid.description %></td>
				<% if (@show_accept) %>
					<% if(@post.provider.nil?)%>
						<td><%= link_to 'accept the bid', accept_bids_path(post_id: @post, bid_id: bid) %></td></tr>
					<% end %>
				<% end %>
			<% end %> 
	<% end %>
	</tbody>
	</table>
<% end %>