<div id = "bid_page">
<%= render(@post)%>
</div>
<% if @post.provider %>
	<% if @post.consumer == current_user.consumer %>
		<h1> This bid is won by <%=@post.provider.user.first%> <%=@post.provider.user.last%> </h1>	
			<% if @post.proreview.nil? %>
			<%= button_to 'rate this provider', new_proreview_path(post_id: @post),method: :post %>
			<% end %>
	<% else %>
	<% if @post.provider == current_user.provider %>
		<h1> you have won this bid </h1>
	<% else %>
		<h1> this post is closed. The provider has chosen a winner </h1>	
	<% end %>
	<% end %>
<% end %>
<br />
<br />




<% if @post.bids.length !=0 %>
	<table cellspacing = '0' id = "bid_table">
	<thead>
		<tr>
			<th>Bidder</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Accept Bid</th>
		</tr>
	</thead>
	<% @post.bids.each do |bid| %>
	
	<tbody>
		<tr>
				<%if current_user.provider == bid.provider%> <td><%= link_to view_path(user_id: current_user.id) do %> <%= current_user.first %><%= current_user.last %><p>(you)</p> <% end %> </td><td><%= number_to_currency(bid.amount) %></td> 
				<td><%= bid.description %></td><td></td>
		</tr>
		<tr>
				<% else %> <td><%= link_to view_path(user_id: bid.provider.user.id) do %> <%= bid.provider.user.first %> <%= bid.provider.user.last %> <% end %></td><td><%= number_to_currency(bid.amount) %> </td><td><%= bid.description %></td>
				<% if (@show_accept) %>
					<% if(@post.provider.nil?)%>
						<td><%= link_to 'accept the bid', accept_bids_path(post_id: @post, bid_id: bid), :class => 'btn btn-primary btn-xs bidbtn' %></td></tr>
					<% end %>
				<% end %>
			<% end %> 
	<% end %>
	</tbody>
	</table>
<% end %>