<h1>You are rating the consumer <%= link_to view_path(user_id: @post.consumer.user.id) do %><%= @post.consumer.user.first%> <%= @post.consumer.user.last %> <% end %> </h1>

<%= render 'form' %>

<%= link_to 'Back', conreviews_path %>
