<!DOCTYPE html>
<html>
<head>
  <title>Noitcua</title>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <link rel="shortcut icon" type="image/png" href= <%= asset_path('N.png' ) %> > 
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% if current_page?('/welcome/consumer_side') or current_page?('/welcome/provider_side')or current_page?('/')
%>
  <body style="padding-left: 5px" class="addbackground">
<% else %>
  <body style="padding-left: 5px" class="nobackground">
<% end %>
<!-- <header class="navbar-inverse">
  <div class="container">
    <nav role="navigation">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </nav>
  </div>
</header> -->

<!-- <nav class="navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-brand'%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-brand'%>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-brand'%>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-brand'%>
        <% end %>
      </ul>
    </div>
  </div>
</nav> -->

<% if user_signed_in? %>
  <div class="header">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navText" href="<%=welcome_url%>">NOITCUA</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <% if current_page?('/') %>
                  <li class = "active"><a href="<%=welcome_url%>" class= "navText">Home</a></li>
                <% else %>
                  <li><a href="<%=welcome_url%>" class= "navText">Home</a></li>
                <% end %>
                <% if @count!=0 %>
                  <% if current_page?('/welcome/consumer_side') %>
                    <li class = "active"><%= link_to 'My posts', consumer_welcome_path,method: :get,:class => "navText",:datanotifications =>@count%></li>
                  <% else %>
                    <li><%= link_to 'My posts', consumer_welcome_path,method: :get,:class => "navText",:datanotifications =>@count%></li>
                  <% end %>
                <% else %>
                  <% if current_page?('/welcome/consumer_side') %>
                    <li class = "active"><%= link_to 'My posts', consumer_welcome_path, method: :get, :class => "navText"%></li>
                  <% else %>
                    <li><%= link_to 'My posts', consumer_welcome_path, method: :get, :class => "navText"%></li>
                  <% end %>
                <% end %>
                <% if @won != 0 %>
                  <% if current_page?('/welcome/provider_side') %>
                    <li class = "active"><%= link_to 'My Bids', provider_welcome_path, method: :get,:class => "navText",:datanotifications =>@won %> </li>
                  <% else %>
                    <li><%= link_to 'My Bids', provider_welcome_path, method: :get,:class => "navText",:datanotifications =>@won %> </li>
                  <% end %>
                <% else %>
                  <% if current_page?('/welcome/provider_side') %>
                    <li class = "active"><%= link_to 'My Bids', provider_welcome_path, method: :get, :class => "navText"%></li>
                  <% else %>
                    <li><%= link_to 'My Bids', provider_welcome_path, method: :get, :class => "navText"%></li>
                  <% end %>
                <%end%>
              <%end%>
	      <li>
	             <%= form_tag(post_search_path, method: :get, class:"navbar-form", role:"search") %>
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="query">
                      <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="dropdown"><a class="dropdown-toggle navText" data-toggle="dropdown" href="#"><%= current_user.first %><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Edit profile", edit_user_registration_path%></li>
                  </ul>
                </li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navText"%></li>
              <% else %>
                <li><a href="" class="signupbtn">Sign Up</a></li>
                <li><a href="" class="loginbtn">Log In</a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  </div>
        <nav class='sidebar sidebar-menu-collapsed pull-right'>
      <a href='#' id='justify-icon'>
        <span class='glyphicon glyphicon-align-justify'></span>
      </a>
      <div id="chatsearch" class="hide">
        <%= form_tag(user_search_path, method: :get, remote: true, class:"navbar-form", role:"search") %>
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="query">
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            <div id="search-results"></div>
          </div>
        </form>
      </div>
    </nav>
<%end%>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %> 
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<footer>
    <div class="footer l-box is-center footerText">
        Created By: Akshay Vangari, Naren Nagarajappa, Shashank Kothapalli, Praveen Alevoor
    </div>
</footer>	
<audio id="chatAudio"><source src=<%= asset_path('notification.mp3' ) %> type="audio/mpeg"></audio>
</body>
</html>
