<!DOCTYPE html>
<html>
<head>
  <title>VictoriousSecret</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-left: 5px">
<!-- <header class="navbar-inverse">
  <div class="container">
    <nav role="navigation">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </nav>
  </div>
</header> -->

<!-- <nav class="navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-brand'%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-brand'%>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-brand'%>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-brand'%>
        <% end %>
      </ul>
    </div>
  </div>
</nav> -->

<% if user_signed_in? %>
  <div class="header">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navText" href="<%=welcome_url%>">NOITCUA</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><a href="<%=welcome_url%>" class= "navText">Home</a></li>
                <% if @count!=0 %>
                  <li><%= link_to 'My posts', consumer_welcome_path,method: :get,:class => "navText",:datanotifications =>@count%></li>
                <% else %>
                  <li><%= link_to 'My posts', consumer_welcome_path, method: :get, :class => "navText"%></li>
                <% end %>

                <% if @won != 0 %>
                  <li><%= link_to 'My Bids', provider_welcome_path, method: :get,:class => "navText",:datanotifications =>@won %> </li>
                <% else %>
                  <li><%= link_to 'My Bids', provider_welcome_path, method: :get, :class => "navText"%></li>
                <%end%>

              <%end%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><p class="welcomeMsg navText">Welcome back <%= current_user.name %>!</p></li>
                <li><%= link_to "Edit profile", edit_user_registration_path, :class => "navText"%></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navText"%></li>
              <% else %>
                <li><a href="" class="signupbtn">Sign Up</a></li>
                <li><a href="" class="loginbtn">Log In</a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  </div>
<%end%>

	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<footer>
    <div class="footer l-box is-center footerText">
        Created By: Akshay Vangari, Naren Nagarajappa, Shashank Kothapalli, Praveen Alevoor
    </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>
